.title {
    background-color: hsla(200, 70%, 60%, 0.4);
    color: peru;
}

h1 {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
    background-color: rgba(180, 70, 180, 0.5);
    font-size: 36px;
}